<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="left">
    <div id="forms">
    <form class="left-form" name = "frm1" action="/mainPage" id = "frm1" method="post">
        <input type="hidden" id="value1" name="SubmitType" value="1" >
        <input type="hidden" id="val_ser_UserID" name="LoginUserID" value="<%=UserID%>">
        <input class="btn" type="submit" id="register-word" value="단어 등록">
    </form>
    <br>
    <form class="left-form" name = "frm2" action="/mainPage" id = "frm2" method="post">
        <input type="hidden" id="value2" name="SubmitType" value="2">
        <input type="hidden" id="val_ser_UserID" name="LoginUserID" value="<%=UserID%>">
        <input class="btn" type="submit" id="view-word" value="그룹별 보기">
    </form>
    <br>
    <form class="left-form" name = "frm3" action="/mainPage" id = "frm3" method="post">
        <input type="hidden" id="value3" name="SubmitType" value="3">
        <input type="hidden" id="val_ser_UserID" name="LoginUserID" value="<%=UserID%>">
        <input class="btn" type="submit"  id="search-word" value="단어 검색">
    </form>
    <br>
    <form class="left-form" name = "frm4" action="/mainPage" id = "frm4" method="post">
        <input type="hidden" id="value4" name="SubmitType" value="5">
        <input type="hidden" id="val_ser_UserID" name="LoginUserID" value="<%=UserID%>">
        <input class="btn" type="submit" id="modify-group" value="그룹 관리">
    </form>
    </div>
</div>
<div id="right">
    <% console.log(MenuType);%>
    <!--단어 등록 후 다시 등록-->
<% if ( MenuType == 1 ) { %>
    <form name = "frmRegister" action="/registerWord" id ="frmRegister" method="post">
        <input type="hidden" id="value_reg_userID" name="reg_userID" value="<%=UserID%>">
        Jpn : <input type ="text" id="tb_jpn" name="reg_jpn"><br>
        <br>
        Kor : <input type ="text" id="tb_kor" name="reg_kor">
        <select name="reg_group">
                <% Groups.forEach( (item) => {%>
                <option value="<%=item.GroupSN%>"><%=item.GroupName%></option>
                <%})%>
        </select>
        <input type="submit" id="ID_Register" class="CL_Register" value="등록"><br>
    </form>
<%}%>
    <!--그룹 단어 보기 선택 전 그룹 표시-->
<% if ( MenuType == 2 ) { %>
    <form name = "frmViewGroupWords" action="/viewGroupWords" id ="frmViewGroupWords" method="post">
        <input type="hidden" id="value_view_words_userID" name="view_userID" value="<%=UserID%>">
    <select name="view_group">
        <% Views.forEach( (item) => {%>
        <option value="<%=item.GroupSN%>"><%=item.GroupName%></option>
        <%})%>
        <input type="submit" id="view-words" value="보기">
    </form>
<%}%>
    <!--단어 찾기 전 초기 화면-->
<% if ( MenuType == 3 ) { %>
    <form name = "frmSearch" action="/searchWord" id ="frmSearch" method="post">
        <input type="hidden" id="value_reg_userID" name="search_userID" value="<%=UserID%>">
        Search : <input type ="text" id="tb_search" name="searchWord"><br>
        <input type="submit" id="ID_Search" class="CL_Search" value="검색"><br>
    </form>
    <%}%>
    <!--단어 찾기 결과 화면-->
<% if ( MenuType == 4 ) { %>
    <form name = "frmSearch" action="/searchWord" id ="frmSearch" method="post">
        <input type="hidden" id="value_reg_userID" name="search_userID" value="<%=UserID%>">
        Search : <input type ="text" id="tb_search" name="searchWord"><br>
        <input type="submit" id="ID_Search" class="CL_Search" value="검색"><br>
    </form>
    <table border="1">
    <% SearchRes.forEach( (item) => {%>
    <tr><td>
        JPN : <%= item.JPN %><br>
        KOR : <%= item.KOR %><br>
        Group : <%= item.GroupName %><br>
    </td></tr>
    <%})%>
    <%}%>
    </table>
    <!--그룹 추가/삭제 화면-->
<% if ( MenuType == 5 ) { %>
    <form name = "frm_insertGroup" action="/registerGroup" id = "frm_insertGroup" method="post">
        <input type ="text" id="tb_reg_group" name="reg_group">
        <input type ="hidden" id="reg_group" name="group_userID" value="<%=UserID%>">
        <input type="submit" id="register-group" value="추가">
    </form>
    <form name = "frm_deleteGroup" action="/deleteGroup" id = "frm_deleteGroup" method="post">
        <input type ="hidden" id="reg_group" name="group_userID" value="<%=UserID%>">
    <br><br>
    <select name="delete_group">
    <% Views.forEach( (item) => {%>
        <option value="<%=item.GroupSN%>"><%=item.GroupName%></option>
    <%})%>
     <input type="submit" id="delete-group" value="삭제">
    </form>
  <%}%>
    <!--그룹별 보기에서 그룹 선택 후 화면-->
<% if ( MenuType == 6 ) { %>
    <form name = "frmViewGroupWords" action="/viewGroupWords" id ="frmViewGroupWords" method="post">
        <input type="hidden" id="value_view_words_userID" name="view_userID" value="<%=UserID%>">
        <select name="view_group">
            <% GroupRes.forEach( (item) => {%>
            <option value="<%=item.GroupSN%>"><%=item.GroupName%></option>
            <%})%>
            <input type="submit" id="view-words" value="보기">
            <table border="1">
    </form>
    <% WordsRes.forEach( (item2) => {%>
    <tr><td>
            JPN : <%= item2.JPN %><br>
            KOR : <%= item2.KOR %><br>
        </td></tr>
    <%})%>
  <%}%>
</div>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //$('#register-word').click(function(){
        //    alert('asdf')
            //res.render('mainPage', { MenuType: 1 })

        //});
    });
</script>
</body>
</html>
