<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta charset = "UTF-8">
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="left">
    <form name = "frm1" action="/mainPage" id = "frm1" method="post">
        <input type="hidden" id="value1" name="SubmitType" value="1">
        <input type="hidden" id="val_ser_UserID" name="LoginUserID" value="<%=UserID%>">
        <input type="submit" id="register-word" value="단어 등록">
    </form>
    <br><br>
    <form name = "frm2" action="/mainPage" id = "frm2" method="post">
        <input type="hidden" id="value2" name="SubmitType" value="2">
        <input type="hidden" id="val_ser_UserID" name="LoginUserID" value="<%=UserID%>">
        <input type="submit" id="view-word" value="그룹별 보기">
    </form>
    <br><br>
    <form name = "frm3" action="/mainPage" id = "frm3" method="post">
        <input type="hidden" id="value3" name="SubmitType" value="3">
        <input type="hidden" id="val_ser_UserID" name="LoginUserID" value="<%=UserID%>">
        <input type="submit" id="search-word" value="단어 검색">
    </form>
    <br><br>
    <form name = "frm4" action="/mainPage" id = "frm4" method="post">
        <input type="hidden" id="value4" name="SubmitType" value="5">
        <input type="hidden" id="val_ser_UserID" name="LoginUserID" value="<%=UserID%>">
        <input type="submit" id="modify-group" value="그룹 관리">
    </form>
</div>
<div id="right">
    <% console.log(MenuType);%>
<% if ( MenuType == 1 ) { %>
    <form name = "frmRegister" action="/registerWord" id ="frmRegister" method="post">
        <input type="hidden" id="value_reg_userID" name="reg_userID" value="<%=UserID%>">
        Jpn : <input type ="text" id="tb_jpn" name="reg_jpn"><br>
        <br>
        Kor : <input type ="text" id="tb_kor" name="reg_kor">
        <select name="reg_group">
                <% Groups.forEach( (item) => {%>
                <option value="<%=item.GroupSN%>"><%=item.GroupName%></option>
                <%})%>
        </select>
        <input type="submit" id="ID_Register" class="CL_Register" value="등록"><br>
    </form>
<%}%>
<% if ( MenuType == 2 ) { %>
    <% Views.forEach( (item) => {%>
    <br> JPN : <%= item.JPN %><br>
    <br> KOR : <%= item.KOR %><br>
    <br> SN : <%= item.SN %><br>
    <%})%>
<%}%>
<% if ( MenuType == 3 ) { %>
    <form name = "frmSearch" action="/searchWord" id ="frmSearch" method="post">
        <input type="hidden" id="value_reg_userID" name="search_userID" value="<%=UserID%>">
        Search : <input type ="text" id="tb_search" name="searchWord"><br>
        <input type="submit" id="ID_Search" class="CL_Search" value="검색"><br>
    </form>
    <%}%>
<% if ( MenuType == 4 ) { %>
    <% SearchRes.forEach( (item) => {%>
    <br> JPN : <%= item.JPN %><br>
    <br> KOR : <%= item.KOR %><br>
    <%})%>
    <%}%>
<% if ( MenuType == 5 ) { %>
    <form name = "frm_insertGroup" action="/registerGroup" id = "frm_insertGroup" method="post">
        <input type ="text" id="tb_reg_group" name="reg_group">
        <input type ="hidden" id="reg_group" name="group_userID" value="<%=UserID%>">
        <input type="submit" id="register-group" value="추가">
    </form>
    <form name = "frm_deleteGroup" action="/deleteGroup" id = "frm_deleteGroup" method="post">
        <input type ="hidden" id="reg_group" name="group_userID" value="<%=UserID%>">
    <br><br>
    <select name="delete_group">
    <% Views.forEach( (item) => {%>
        <option value="<%=item.GroupSN%>"><%=item.GroupName%></option>
    <%})%>
     <input type="submit" id="delete-group" value="삭제">
    </form>
  <%}%>
</div>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //$('#register-word').click(function(){
        //    alert('asdf')
            //res.render('mainPage', { MenuType: 1 })

        //});
    });
</script>
</body>
</html>
